nav{
    height: 80px;
}

header{
    height: 80px;
    width: 100%;
    font-size: 15px;
}

.menu_left{
    float: left;
    background-color: #707070;
    height: 80px;
    width: 980px;
    padding-left: 45px;
    
}

.menu_left img{
    padding-left: 150px;
}

.menu_left ul{
    float: right;
    text-align: center;
}

.menu_left ul li{
    list-style: none;
    float: left;
    margin-top: 25px;
    
}

.menu_left ul li a{
    color: white;
    text-decoration: none;
    margin: 7px;
    transition: all 500ms;
}

.menu_left ul li a:hover{
    color: yellow;
}

.menu_right{
    width: 539px;
    height: 80px;
    float: right;
    background-color: #08788c;
    padding-left: 40px;
}

.menu_right button{
    margin: 20px;
    color: white;
    border: none;
   padding-top: 6px;
   padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}

.menu_right .btn_servipag{
    background-color: #253646;
}

.menu_right .btn_pago{
    background-color: #ffdb05;
    color: black;
    transition: all 300ms;
}

.menu_right .btn_pago:hover{
    background-color: #fdfcf8;

}

@media (max-width: 1367px){
    .menu_left, .menu_right{
        width: 100%;
    }
}

@media (max-width: 1025px) {
    .menu_left, .menu_right{
        width: 100%;
    }

    .menu_left img{
        padding-left: 41px;
    }

    .menu_left ul li a{
        font-size: 19px;
    }

}

@media (max-width: 992px) {
    .menu_left{
        width: 100%;
    }

    .menu_left img{
        padding-left: 0px;
    }

    .menu_right{
        width: 100%;
        padding-left: 323px;
    }

}

@media (max-width: 824px) {
    .menu_left{
        width: 100%;
    }

    .menu_left img{
        padding-left: 0px;
        width: 150px;
    }

    .menu_right{
        width: 100%;
        padding-left: 265px;
    }
}

@media (max-width: 813px) {
    .menu_left{
        background-color: #fff;
    }
}

@media (max-width: 737px) {
    .menu_right{
        padding-left: 183px;
    }

    .menu_left{
        background-color: #fff;
    }
}

@media (max-width: 732px) {
    .menu_left img{
        width: 150px;
    }
    .menu_right{
        padding-left: 210px;
    }

    

    
}

@media (max-width: 640px) {
    .menu_left{
        background-color: #fff;
    }
    .menu_right{
        padding-left: 160px;
    }
}

@media (max-width:576px){

    .menu_left{
        background-color: #fff;
    }
    .menu_right{
        width: 100%;
        padding-left: 100px;
    }
}

@media (max-width: 415px) {
    .menu_right{
        padding-left: 36px;
    }
}

@media (max-width:412px){

    .menu_right{
        padding-left: 50px;
    }
}

@media (max-width: 376px) {
    .menu_right{
        padding-left: 34px;
    }

    .menu_right button{
        margin: 18px;
    }
}

@media (max-width: 360px) {
    .menu_right{
        padding-left: 3px;
    }
}

@media (max-width:321px) {
    .menu_right button{
        margin: 14px;
    }
}

