<div class="contenedor">
    <div class="row" style="width: 100%;">
        <div class="col-md-3">
            <img src="https://ww3.servipag.com/pagoenlinea/wcm/connect/d03d2015-052d-4738-bdd4-c78dee8435b8/logo%2Bfooter%2B150x56px.svg?MOD=AJPERES&CACHEID=d03d2015-052d-4738-bdd4-c78dee8435b8" alt="" class="logo">
        </div>
        <div class="col-md-6">
            <div class="row" style="width: 100%" id="links">
                <div class="col-md-4 mt-3">
                    <p class="text-white titulo">Corporativo</p>
                    <ul>
                        <li>
                            <a href="">Historia</a>
                        </li>
                        <li>
                            <a href="">Trabaja con nosotros</a>
                        </li>
                        <li>
                            <a href="">Código de ética</a>
                        </li>
                        <li>
                            <a href="">Política de privacidad</a>
                        </li>
                        <li>
                            <a href="">Términos y condiciones</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mt-3">
                    <p class="text-white titulo">Canales de atención</p>
                    <ul>
                        <li>
                            <a href="">Servipag express</a>
                        </li>
                        <li>
                            <a href="">Servipag móvil</a>
                        </li>
                        <li>
                            <a href="">Botón de pago</a>
                        </li>
                        <li>
                            <a href="">Sucursales</a>
                        </li>
                        <li>
                            <a href="">Caja electrónica</a>
                        </li>
                        <li>
                            <a href="">App servipag</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mt-3">
                    <p class="text-white titulo">Te ayudamos</p>
                    <ul>
                        <li>
                            <a href="">Preguntas frecuentes</a>
                        </li>
                        <li>
                            <a href="">¿Qué puedo pagar en servipag.com?</a>
                        </li>
                        <li>
                            <a href="">Recupera tu comprobante</a>
                        </li>
                        <li>
                            <a href="">Recupera tu poliza SOAP 2021</a>
                        </li>
                        <li>
                            <a href="">Bases de concurso</a>
                        </li>
                        <li>
                            <a href="">Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <p class="text-white titulo">Aplicaciones disponibles</p>
            <div class="imagenes_app_store">
                <img src="../../../assets/appstore.png" alt="" >
                <img src="../../../assets/googleplay.png" alt="">
            </div>
        </div>
    </div>
        
            <div class="icons">
                <a href="https://www.linkedin.com/in/francisco-rojo-gallardo/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://twitter.com/rojo_gallardo"><i class="fab fa-twitter"></i></a> 
                <a href=""><i class="fab fa-youtube"></i></a> 
                <a href="https://www.instagram.com/francis_reddd/"><i class="fab fa-instagram"></i></a> 
    </div>
            <div class="creditos">
                <p class="firma">Todos los derechos reservados &copy; Francisco Rojo 2021</p>
            </div>
</div>

