<div class="contenedor">
    <div class="seccion1">
        <p>Cuenta conmigo</p>
    </div>
    <div class="seccion2">
        <ul>
            <li>
                <a href="">Como pagar cuentas</a>
            </li>
            <li>
                <a href="">Como inscribir cuentas</a>
            </li>
            <li>
                <a href="">Recupera tu comprobante</a>
            </li>
            <li>
                <a href="">Preguntas frecuentes</a>
            </li>
        </ul>
    </div>
    <div class="seccion3">
        <button class="btn_pago" [routerLink]="['/user/register']" >Registrate</button>
    </div>
</div>
